/*** Spinner Start ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .8s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .8s ease-out, visibility 0s linear .0s;
    visibility: visible;
    opacity: 1;
}

.back-to-top {
    position: fixed;
    right: 30px;
    bottom: 30px;
    display: flex;
    width: 45px;
    height: 45px;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    z-index: 99;
    background-color: #e78441;
    border: 3px solid #e66a18;
}

/*** Spinner End ***/


/*** Button Start ***/

/*** Topbar Start ***/
body{
    background: #ffffff;
    color: #153854;
    font-family: 'Playfair Display', serif ;
}
.fixed-top {
    transition: 0.5s;
    border: 0;
    background: #EBECEE;
    
    color: white;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.topbar {
    padding: 20px;
    border-radius: 230px 100px;
    margin-top: 60px;
}

.topbar .top-info {
    font-size: 15px;
    line-height: 0;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    margin-top: 60px;
}

.topbar .top-link {
    font-size: 15px;
    line-height: 0;
    margin-top: 60px;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
}

.topbar .top-link a {
    letter-spacing: 1px;
}

.topbar .top-link a small:hover {
    color:#153854!important;
    
    transition: 0.5s;
}

.topbar .top-link a small:hover i {
    color: #153854 !important;
}

/*** Topbar End ***/

/*** Navbar Start ***/
.navbar .navbar-nav .nav-link {
    padding: 10px 15px;
    font-size: 16px;
    transition: .5s;
    color: #153854!important;

}



/* Navbar link styling */

/* Style for hover effect */
.navbar-nav .nav-link:hover {
    border-bottom: 0.5px solid rgba(255, 255, 255);
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active,
.fixed-top.bg-white .navbar .navbar-nav .nav-link:hover,
.fixed-top.bg-white .navbar .navbar-nav .nav-link.active {
    color: #153854 !important;

}

.navbar .dropdown-toggle::after {
    border: none;
    font-weight: 700;
    vertical-align: middle;
    margin-left: 8px;
    
}

@media (min-width: 1200px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        visibility: hidden;
        top: 100%;
        transform: rotateX(-75deg);
        transform-origin: 0% 0%;
        border: 0;
        transition: .5s;
        opacity: 0;
    }
}



.navbar .nav-item:hover .dropdown-menu {
    transform: rotateX(0deg);
    visibility: visible;
    background: var(--bs-light) !important;
    border-radius: 10px !important;
    transition: .5s;
    opacity: 1;
    color: #153854!important;
    
}


/*** Navbar End ***/

/*** Hero Header ***/
.hero-header {
    background: linear-gradient(rgba(248, 223, 173, 0.1), rgba(248, 223, 173, 0.1));
    margin-top: 0;
}

.hero {
    background: linear-gradient(rgba(248, 223, 173, 0.1), rgba(248, 223, 173, 0.1)), url(../img/bgg.png);
    height: 600px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.textstyle {
    font-family: 'Playfair Display', serif;
    color: #0c0a0a;
    display: inline-block;
    font-size: 3em;
    letter-spacing: 2px;
    border-right: 5px solid;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 2s steps(20),
        cursor .4s step-end infinite alternate;
}

.searchBox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    background: #2f3640;
    height: 40px;
    border-radius: 40px;
    padding: 0px;


}

.searchBox:hover>.searchInput {
    width: 240px;
    padding: 0 6px;
}

.searchBox:hover>.searchButton {
    background: white;
    color: #2f3640;
}

.searchButton {
    color: white;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}

.searchInput {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;

}

@media screen and (max-width: 620px) {
    .searchBox:hover>.searchInput {
        width: 150px;
        padding: 0 6px;
    }
}

@keyframes cursor {
    50% {
        border-color: transparent;
    }
}

@keyframes typing {

    from {
        width: 0;
    }
}

@media (min-width: 992px) {

    .hero-header,
    .hero,
    .page-header {
       
    }
}

@media (max-width: 992px) {

    .hero-header,
    .hero,
    .page-header {
       
    }
}

/*** Hero Header end ***/



.lines{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    margin: auto;
    width: 90vw;
  }
    
  .line {
      position: absolute;
      width: 1px;
      height: 100%;
      top: 0;
      left: 50%;
      background: rgba(255, 255, 255, 0.1);
      overflow: hidden;
    }
    
    .line::after {
      content: '';
      display: block;
      position: absolute;
      height: 15vh;
      width: 100%;
      top: -50%;
      left: 0;
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #f5a860 75%, #ffffff 100%);
      animation: drop 5s 0s infinite;
      animation-fill-mode: forwards;
      animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
    }
    
    .line:nth-child(1) {
      margin-left: -25%;
    }
    
    .line:nth-child(1)::after {
      animation-delay: 2s;
    }
    
    .line:nth-child(3) {
      margin-left: 25%;
    }
    
    .line:nth-child(3)::after {
      animation-delay: 2.5s;
    }
  .about2{
      display: table;
      width: 100%;
      height: 250px;
      background-color: #fff4db;
      color: #0d0852;
      line-height: 1.6;
      position: relative;
      font-family: sans-serif;
      overflow: hidden;
      margin: 0;
      padding: 0;
      box-sizing: border-box !important;
  }  
    @keyframes drop {
      0% {
        top: -50%;
      }
      100% {
        top: 110%;
      }
    }
    


/*** Single Page Start ***/
.pagination {
    display: inline-block;
}

.pagination a {

    padding: 10px 16px;
    text-decoration: none;
    transition: 0.5s;

    margin: 0 4px;
}


/*** Footer Start ***/
.footer .footer-item .btn-link {
    line-height: 35px;
    color: rgba(255, 255, 255, .5);
    transition: 0.5s;
    color: #ffffff !important;
    margin-top: 20px;

}

.footer .footer-item .btn-link:hover {
    color: 'white' !important;
    color: #ffffff !important;

}

.footer .footer-item p.mb-4 {
    line-height: 35px;
    color: #ffffff !important;

}

/*** Footer End ***/

.footer-card{
    transform: translateY(-0.8%) !important;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2) !important;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.footer-card_2{
    transform: translateY(-0.8%) !important;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2) !important;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 400px;
    height: 300px;
    
}
.footer-card_3{

    width: 300px;
    height: 200px;
    
}
.quote {
    background-color: #153854;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.quote p {
    font-style: italic;
    font-size: 18px;
    margin-bottom: 0;
    color: #ffffff;
}

.card:hover .card-body .card-title {
    color: #E68149 !important;
    transition: color 0.3s ease !important;
    text-decoration: none;
}

.card:hover {
    transform: translateY(-0.8%) !important;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2) !important;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.bg {
    background-color: #faf9f7;
}

/* Normal state */
a {
    color: #153854;
}

/* Hover state */
a:hover {
    color: red;
    /* Change the color for hover state */
}

/* Visited state */
a:visited {
    color: #153854;
    /* Change the color for visited state */
}

.btn {
    color: #153854;
}

